.blank{
  color: yellow;
  text-align: center;
  font-size: 80px;
  margin: auto;
  height: 100px ;
  width: 800px ;
  background-color: orangered;
}
.mybtn{
  background-color: darkturquoise;
  border: 2px solid grey;
  color: white;
  font-weight: bolder;

}
